{{- $ctx := "" -}}
{{- $isCoverCaptionEnabled := default nil -}}
{{- if (reflect.IsMap . ) -}}
  {{- $ctx = .ctx -}}
  {{- $isCoverCaptionEnabled = cond (not .isCoverCaptionEnabled) nil .isCoverCaptionEnabled -}}
{{- else -}}
  {{- $ctx = . -}}
  {{- $isCoverCaptionEnabled = false -}}
{{- end -}}

{{- $cover := false -}}
{{- if index $ctx.Params "cover" -}}
  {{- if $ctx.Resources.GetMatch $ctx.Params.Cover -}}
    {{- $cover = ($ctx.Resources.GetMatch $ctx.Params.Cover).RelPermalink -}}
  {{- else -}}
    {{- $cover = relURL $ctx.Params.Cover -}}
  {{- end -}}
{{- else if $.Site.Params.AutoCover -}}
  {{- if (not $ctx.Params.Cover) -}}
    {{- if $ctx.Resources.GetMatch "cover.*" -}}
      {{- $cover = ($ctx.Resources.GetMatch "cover.*").RelPermalink -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- if $cover -}}
  {{- $alt := or $ctx.Params.coverAlt $ctx.Params.hero_alt $ctx.Title | plainify | default "Dadbot post cover" -}}
  {{ if and $ctx.Params.coverCaption $isCoverCaptionEnabled }}
    <figure>
      <img src="{{ $cover }}"
      class="post-cover"
      alt="{{ $alt }}"
      title="{{ $ctx.Params.CoverCredit | plainify | default "Generated ASCII cover" }}" />
      <figcaption class="right">{{ $ctx.Params.coverCaption | safeHTML }}</figcaption>
    </figure>
  {{ else }}
    <img src="{{ $cover }}"
      class="post-cover"
      alt="{{ $alt }}"
      title="{{ $ctx.Params.CoverCredit | plainify | default "Generated ASCII cover" }}" />
  {{ end }}
{{- end }}
