<!-- Buy Me a Coffee Button - Terminal Portrait Style -->
<a href="https://buymeacoffee.com/dadbot"
   class="coffee-button"
   target="_blank"
   rel="noopener noreferrer"
   aria-label="Buy me a coffee"
   title="Buy me a coffee">
  <span class="coffee-text coffee-text--top">Buy me</span>
  <span class="coffee-cup" aria-hidden="true">
    <svg class="coffee-cup-svg" viewBox="0 0 96 78" role="img" focusable="false">
      <path class="coffee-steam-line" d="M36 3c6 5 6 10 0 15" />
      <path class="coffee-steam-line" d="M52 1c-6 6-6 11 0 17" />
      <path class="coffee-steam-line" d="M67 6c6 5 6 10 0 15" />
      <path class="coffee-cup-top" d="M24 29h56" />
      <path class="coffee-cup-rim" d="M20 34h64" />
      <path class="coffee-cup-body" d="M24 34h56v30H24z" />
      <path class="coffee-cup-handle" d="M24 42c-14 0-14 15 0 15" />
      <path class="coffee-cup-pattern" d="M33 42l5 12 5-12 5 12 5-12 5 12 5-12 5 12" />
      <path class="coffee-cup-saucer" d="M27 70h50" />
      <path class="coffee-cup-saucer-dash" d="M34 75h36" />
    </svg>
  </span>
  <span class="coffee-text coffee-text--bottom">a coffee</span>
</a>
