<ul class="menu menu--mobile">
  <li><button type="button" class="menu__trigger" aria-expanded="false" aria-controls="menu-mobile">Menu&nbsp;▾</button></li>
  <li>
    <ul class="menu__dropdown" id="menu-mobile">
      {{ range $.Site.Menus.main }}
        {{ if not .HasChildren }}
          <li class="{{ if eq .Identifier "conspiracy-corner" }}menu__item--special-mobile{{ end }}"><a href="{{ .URL }}">{{ .Name }}</a></li>
        {{ else }}
        <li class="menu__subdrop--title">▾&nbsp;{{ .Name }}</li>
        <li>
          <ul  class="menu__subdrop--list">
            {{ range .Children  }}
            <li><a href="{{ .URL }}" {{ if .Params.NewTab -}} target="_blank" {{- end }}>{{ .Name }}</a></li>
            {{ end }}
          </ul>
        </li>
        {{ end }}
      {{ end }}
      {{ if and $.Site.Params.showLanguageSelector (len $.Site.Home.AllTranslations) }}
        <hr />
        {{ range $.Site.Home.AllTranslations }}
          <li>
            <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
          </li>
        {{ end }}
      {{ end }}
    </ul>
  </li>
</ul>
